$primary: #ffffff;
$secondary: #ffd966;
$black: #000000;
$blue: #0099cc;
$sky_blue: #d8effe;
$grey: #5a6265;


$huge-bp: 1400px;
$extra-large-bp: 1250px;
$large-bp: 1100px;
$medium-bp: 1050px;
$small-bp: 750px;
$extra-small-bp: 520px;
$smallest-bp: 420px;