@import "vars";
@import "vendor/reset";
@import "mixins";


html {
    font-size: 62.5%;

    height: 100%;
}

body {
    background-color: $primary;
    font-family: "PT Sans", system-ui, -apple-system, "Segoe UI", Roboto ,"Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 3.2rem;
    color: $black;

    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    flex: 0 0 auto;
}

main {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    max-width: 1450px;
    margin: 0 auto;
    padding: 0 10px;
}

/*  */
@import "blocks/page";
@import "blocks/header";
@import "blocks/slider";
@import "blocks/section_header";
@import "blocks/news";
@import "blocks/portfolio";
@import "blocks/btn";
@import "blocks/services";
@import "blocks/figures";
@import "blocks/about";
@import "blocks/contact";
@import "blocks/footer";

@import "blocks/intro";
@import "blocks/works";
@import "blocks/services__main";
@import "blocks/services__main__contact";
@import "blocks/contact-page";


.top {
    padding-top: $header-height;
}