.about__main__description {
  margin-bottom: 11.5rem;
}

.about__main__content {
  .skills {
    margin-bottom: 11.5rem;
    &__item {
      display: flex;
      justify-content: space-between;
      width: 5rem;
      height: 5.5rem;
      color: $primary;
      border-radius: 25px;
      padding: 10px 20px;
      margin: 1.3rem 0;
      transition-property: width, opacity;
      transition-duration: 5s, 1s;
      transition-timing-function: ease;


      >p {
        opacity: 0;
        transition: opacity 3s ease 1s;
      }

      &.active {
        >p {
          opacity: 1;
        }
      }
    }
    .ps {
      background-color: #0984c3;
    }
    .ill {
      background-color: #dd7f04;
    }
    .indesign {
      background-color: #cb1ab4;
    }
    .corel {
      background-color: #42bc12;
    }
    .paint {
      background-color: #177598;
    }
    .html {
      background-color: #981766;
    }
    .css {
      background-color: #6f1798;
    }
  }
}

.upgrade {
  margin-bottom: 11.5rem;
  &__description {
    font-size: 2.9rem;
    line-height: 1.4;

  }
}