.btn {
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 15px;
  padding: .75em .95em;
  cursor: pointer;
  transition: background-color .2s linear;

  &--white {
    color: $blue;
    box-shadow: 0 7px 17px -10px rgba($blue, .3);
    border: .3rem solid $blue;

    &:hover {
      color: $primary;
      background-color: $blue;
    }
  }

  &--blue {
    color: $primary;
    background-color: $blue;

    &:hover {
      background-color: darken($blue, 10%);
    }
  }
}



