.contact-page {
  .contact__map {
    margin: 13.4rem 0 4.2rem;
    height: 484px;
  }

  .contact__form {
    padding: 11.5rem 0 0 4.3rem;

    .contact__submit {
      margin-bottom: 12.4rem;
    }
  }


}