<div class="modal">
    <div class="modal__inner">
        <button class="close" type="button">
            <svg class="close__icon">
                <use xlink:href="#close"></use>
            </svg>
        </button>
        <div class="modal__content">

            <img class="modal__image" width="600" src="/assets/images/img3.jpg" alt="">
            <div class="modal__img_description">
                <p>Живопись. Натюрморт «На контрасте», 2013 год</p>
                <p>(пвх, акрил, темпера)</p>
                <p class="modal__img_description__price">Цена: 5000р.</p>
            </div>
        </div>
    </div>


</div>