<header class="header">
    <div class="container">
        <div class="header__inner">

            <a class="logo" href="index.html">
                <img class="logo__img" src="/assets/images/logo.svg" width="350" alt="logo">
            </a>

            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__list-item active"><a href="index.html" class="menu__list-link">Главная</a></li>
                    <li class="menu__list-item"><a href="portfolio.html" class="menu__list-link">Портфолио</a></li>
                    <li class="menu__list-item"><a href="services.html" class="menu__list-link">Услуги</a></li>
                    <li class="menu__list-item"><a href="about_me.html" class="menu__list-link">Обо мне</a></li>
                    <li class="menu__list-item"><a href="contacts.html" class="menu__list-link">Контакты</a></li>
                </ul>
            </nav>

            <button class="burger" type="button">
                <span>Открыть навигацию</span>
            </button>
        </div>
    </div>
</header>
